header {
    display: flex;
    flex-direction: column;
    
    
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .logo img {
      width: 220px;
      padding: 1rem;
    }
  
    .location {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: $text-color;
      background: #EAEAEA;
      width: 100%;
      padding: 1rem;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        color: $primary-color;
      }
    }
  }
  