header {
  @include flex-column;
  
  .logo {
    @include centered-flex;
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 1;
    position: relative;

    img {
      width: 220px;
      padding: 1rem;
    }

    .back-arrow {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);

      img {
        width: 20px;
        padding: 0;
      }
    }
  }

  .location {
    @include centered-flex;
    font-size: 1rem;
    color: $text-color;
    background: #EAEAEA;
    width: 100%;
    padding: 1rem;
    box-shadow: $box-shadow;

    i {
      @include centered-flex;
      margin-right: 0.5rem;
      color: $primary-color;
    }
  }
}
