// Utilisation des mixins pour les media queries
@include tablet {
  .presentation {
    padding: 3rem 2rem;
    
    h1 {
      font-size: 2.5rem !important;
    }
    
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}

@include desktop {
  // Style pour le conteneur principal
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  // Section fonctionnement
  .fonctionnement {
    h2 {
      margin-left: 0 !important;
      margin-bottom: 2rem;
      font-size: 1.5rem !important;
      border-bottom: none !important;
    }

    .steps {
      flex-direction: row !important;
      justify-content: center;
      gap: 2rem !important;

      .step {
        padding: 1.9rem !important;
        padding-right: 5rem !important;
        font-size: 1.2rem !important;
      }
    }
  }

  // Section restaurants
  .restaurants {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;

    h2 {
      margin-left: 0 !important;
      margin-bottom: 2rem;
      font-size: 1.5rem !important;
      border-bottom: none !important;
    }

    .restaurant-list {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      
      a {
        margin: 0;
        width: 100%;
      }

      .restaurant-card {
        height: 100%;
      }
    }
  }

  // Style pour le footer
  footer {
    padding: 2rem 4rem;
    
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }
}

// Grand écran (1400px et plus)
@media screen and (min-width: 1400px) {
  .restaurants .restaurant-list {
    gap: 3rem;  
  }

}
