// Couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f8f8f8;
$text-color: #333;

// Polices
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

// Breakpoints
$desktop: 1024px;
