@import 'variables';
@import 'mixins';

.restaurant-details {
  background-color: $background-color;

  .restaurant-header {
    position: relative;
    margin-bottom: 1rem;

    .restaurant-image {
      @include image-container(250px);
    }

    .restaurant-title {
      @include centered-absolute-bottom;
      background-color: $background-color;
      border-radius: 50px 50px 0 0;
      padding: 1rem;
      width: 100%;
      text-align: center;

      h1 {
        @include flex-center;
        font-family: 'Shrikhand', cursive !important;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  .menu-section {
    margin-top: 1rem;
    background-color: $background-color;

    h2 {
      @include section-title;
      font-weight: 400;
    }

    .menu-item {
      @include menu-item-style;

      label {
        @include full-width-flex-between;
        transition: all 0.5s ease;
      }

      .item-content {
        @include flex-grow-transition;
      }

      p, small {
        @include text-ellipsis;
      }

      small {
        font-size: 0.85rem;
        color: #777;
      }

      span {
        @include price-style;
      }

      .validation {
        @include validation-style;
      }

      &:hover {
        @include menu-item-hover;
      }
    }
  }

  .order-btn {
    @include gradient-button;
  }
}

@media (min-width: 768px) {
  .restaurant-details {
    background-color: white;
    padding: 0rem;

    .restaurant-header {
      @include flex-row-between;

      h1 {
        text-align: left;
      }

      .restaurant-image {
        height: 300px;
      }
    }

    .menu-section {
      max-width: 1200px;
      h2 {
        font-size: 1.5rem;
      }

      .menu-item {
        @include menu-item-tablet;
      }
    }

    .order-btn {
      @include order-button-tablet;
    }
  }
}

@media (min-width: 1024px) {
  .restaurant-details {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;

    .restaurant-header {
      h1 {
        font-size: 2rem !important;
        padding: 2rem 0;
      }

      .restaurant-image {
        height: 450px;
        width: 100%;
      }

      .restaurant-title {
        max-width: 1000px;
        margin: 0 auto;
        bottom: -85px;
      }
    }

    .menu-section {
      max-width: 1000px;
      margin: 0 auto;
      padding: 5rem 2rem 0;

      h2 {
        margin-left: 7.8rem;
        text-align: center;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 0.5rem;
      }

      .menu-item {
        max-width: 700px;
        margin: 1rem auto;
      }
    }

    .order-btn {
      margin: 3rem auto;
    }
  }
}
