footer {
    background-color: #333;
    color: white;
    padding: 1rem;
  
    nav {
      @include flex-column;
      align-items: flex-start;

      span {
        @include flex-column;
        gap: 0;
      }
  
      a {
        @include footer-link;
        margin-bottom: 0.5rem;
      }
    }

    .logo-footer, .logo-footer1 {
        h2 {
            @include footer-title;
        }
        
        &1 {
            display: none;
        }
        
        img {
            width: 100px;
        }
    }
}
